os: linux
dist: bionic

language: scala

scala:
  - "2.12.8"

python:
  - "3.7"

jdk:
  - openjdk11

cache:
  directories:
    - "$HOME/.sbt"
    - "$HOME/.ivy2"
    - "$HOME/.cache"

addons:
  apt:
    packages:
      - wget
      - pkg-config
      - expect

services:
  - docker

env:
  global:
    - GDB_HEAP_SIZE=2G
    - KNORA_GDB_LICENSE=$TRAVIS_BUILD_DIR/knora-api/travis/graphdb.license
    - PYTHON_VERSION=3.7.1

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/1.1.0/bazel_1.1.0-linux-x86_64.deb
  - sudo dpkg -i bazel_1.1.0-linux-x86_64.deb
  - git clone -b develop --single-branch --depth 1 https://github.com/dasch-swiss/knora-api.git
  - cd $TRAVIS_BUILD_DIR/knora-api
  - openssl aes-256-cbc -K $encrypted_ec8f5e0fa991_key -iv $encrypted_ec8f5e0fa991_iv -in $TRAVIS_BUILD_DIR/knora-api/travis/secrets.tar.enc -out $TRAVIS_BUILD_DIR/knora-api/travis/secrets.tar -d
  - tar -C $TRAVIS_BUILD_DIR/knora-api/travis -xvf $TRAVIS_BUILD_DIR/knora-api/travis/secrets.tar
  - pyenv install -f ${PYTHON_VERSION}
  - pyenv global system ${PYTHON_VERSION}
  - pip uninstall -r deps/requirements.txt -y

script:
  - cd $TRAVIS_BUILD_DIR/knora-api
  - make stack-up
  - sleep 15
  - make init-db-test-minimal
  - sleep 15
  - make stack-restart-api
  - cd $TRAVIS_BUILD_DIR
  - bazel test --test_summary=detailed --test_output=all //...
