include README.md
include knora/dsplib/utils/knora-schema.json
include knora/dsplib/utils/knora-schema-lists.json
include knora/dsplib/utils/knora-data-schema.xsd
include knora/icons/knora-py-logo.png
