site_name: Knora-Py Documentation

nav:
    - Introduction: index.md
    - dsp-tools: dsp-tools.md
    - JSON data model format: dsp-tools-create.md
    - Bulk data import: dsp-tools-xmlupload.md

theme:
  name: material
  logo: 'assets/images/dasch-icon-white.svg'
  favicon: 'assets/images/dasch-favicon.ico'
  palette:
    primary: 'deep blue'
    accent: 'deep blue'
  feature:
    tabs: false
extra_css:
  - 'assets/style/theme.css'
