[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpath-ng = "*"
argparse = "*"
lxml = "*"
requests = "*"
jsonschema = "*"
pystrict = "*"
openpyxl = "*"
networkx = "*"
pandas = "*"
regex = "*"

[dev-packages]
build = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocs-include-markdown-plugin = "*"
mypy = "*"
autopep8 = "*"
pytest = "*"
types-requests = "*"
twine = "*"

[requires]
python_version = "3"
