# See https://packaging.python.org/en/latest/guides/writing-pyproject-toml/#writing-pyproject-toml

[tool.poetry]
name = "dsp-tools"
version = "9.0.2"
description = "DSP-TOOLS is a Python package with a command line interface that helps you interact with a DaSCH service platform (DSP) server."
authors = ["DaSCH - Swiss National Data and Service Center for the Humanities <info@dasch.swiss>"]
readme = "docs/index.md"
license = "GPL-3.0-only"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
documentation = "https://docs.dasch.swiss/latest/DSP-TOOLS/"
homepage = "https://www.dasch.swiss/"
repository = "https://github.com/dasch-swiss/dsp-tools"
include = [
    "src/dsp_tools/resources/*",
    "src/dsp_tools/py.typed"  # see https://mypy.readthedocs.io/en/stable/installed_packages.html#making-pep-561-compatible-packages
]


[tool.poetry.dependencies]
python = "^3.12"
jsonpath-ng = "^1.6.1"
argparse = "^1.4.0"
lxml = "^5.2.1"
requests = "^2.31.0"
jsonschema = "^4.21.1"
openpyxl = "^3.1.2"
networkx = "^3.3"
pandas = {version = "^2.2.1", extras = ["excel"]}  # extra package that contains xlrd that is necessary for reading old .xls Excel files
regex = "^2024.4.28"
pyyaml = "^6.0.1"
rustworkx = ">=0.14.2,<0.16.0"
termcolor = "^2.4.0"
packaging = "^24.0"
loguru = "^0.7.2"
rdflib = "^7.0.0"
pyld = "^2.0.4"
namedentities = "^1.9.4"
tqdm = "^4.66.4"


[tool.poetry.group.dev.dependencies]
mkdocs = "^1.5.3"
mkdocs-material = "^9.5.17"
mkdocs-include-markdown-plugin = "^6.0.5"
mypy = "^1.10.0"
pytest = "8.0.2,<8.1.1"  # don't upgrade until https://github.com/pytest-dev/pytest/issues/12044 is fixed
pre-commit = "^3.7.0"
darglint = "^1.8.1"
types-requests = "^2.31.0.20240403"
types-lxml = "^2024.3.27"
types-jsonschema = "^4.21.0.20240331"
types-openpyxl = "^3.1.0.20240402"
types-regex = "^2024.4.28.20240430"
types-pyyaml = "^6.0.12.20240311"
pytest-unordered = "^0.6.0"
viztracer = "^0.16.2"
ruff = ">=0.5.0"
pytest-sugar = "^1.0.0"
pandas-stubs = "^2.2.1.240316"
types-networkx = "^3.2.1.20240331"
requests-mock = "^1.12.1"
testcontainers =  "4.7.2"
docker = "^7.1.0"
types-docker = "^7.0.0.20240529"
pytest-cov = "^5.0.0"
yamllint = "^1.35.1"
types-tqdm = "^4.66.0.20240417"


[tool.poetry.scripts]
dsp-tools = "dsp_tools.cli.entry_point:main"  # definition of the CLI entry point


[tool.poetry-exec-plugin.commands]
# plugin (https://github.com/keattang/poetry-exec-plugin) to define commands available for the developers,
# e.g. `poetry exec check-links`
check-links = "markdown-link-validator ./docs -i \\.\\/assets\\/.+"
darglint = """
    find . -name "*.py" \
    -not -path "./src/dsp_tools/commands/project/models/*" \
    -not -path "./.git/*" \
    -not -path "./.venv/*" \
    | xargs poetry run darglint -v 2\
"""
clean = """
    rm -rf ./**/*.pyc
    rm -rf ./**/__pycache__
    rm -rf ./**/.pytest_cache
    rm -rf ./**/.mypy_cache
    rm -rf ./*id2iri_mapping*.json
    rm warnings.log
    rm -rf testdata/e2e/tmp-dsp-ingest/
    rm -rf testdata/e2e/images/
    rm mapping-????.csv
"""
markdownlint = """
    docker run \
    -v $PWD:/workdir ghcr.io/igorshubovych/markdownlint-cli:latest \
    --config .markdownlint.yml \
    --ignore CHANGELOG.md "**/*.md"
"""
ruff-check = "ruff check . --ignore=A002,D101,D102,PLR0913,PLR2004"
ruff-check-github = "ruff check . --output-format=github --ignore=A002,D101,D102,PLR0913,PLR2004"
ruff-format-check = "ruff format --check ."
mypy = "mypy ."
unittests = "pytest test/unittests/"
integration-tests = "pytest test/integration/"
e2e-tests = "pytest test/e2e/"
legacy-e2e-tests = "pytest test/legacy_e2e/"
bump-version = """
    # get current version, append ".postN" (N=no. of commits since last release), write back into pyproject.toml
    version=$(git describe --tags --abbrev=0)
    commit_cnt=$(git rev-list --count main ^$version)
    commit_cnt=$((commit_cnt - 1))                        # N in ".postN" is zero-based
    if [ $commit_cnt -eq -1 ]; then exit 0; fi
    new_version=$(poetry version -s).post$commit_cnt      # pyproject.toml contains clean numbers, .postN isn't commited
    poetry version $new_version                           # write back into pyproject.toml
"""



[build-system]
# Tells “frontend” build tools (like pip, build, or poetry) what “backend” build tool to use (e.g. setuptools, poetry).
# The "backend" doesn't need to be installed. It will be installed by the "frontend" in a temporary, isolated
# environment for use during the build process.
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
# see https://docs.pytest.org/en/latest/explanation/goodpractices.html#tests-outside-application-code
pythonpath = [".", "src", "test"]


[tool.mypy]
show_column_numbers = true
strict = true
enable_error_code = ["possibly-undefined"]
exclude = [
    "src/dsp_tools/models/datetimestamp.py",                  # TODO: activate this
    "src/dsp_tools/models/langstring.py",                     # TODO: activate this
    "src/dsp_tools/models/projectContext.py",                 # TODO: activate this
    "src/dsp_tools/commands/project/models/context.py",       # TODO: activate this
    "src/dsp_tools/commands/project/models/group.py",         # TODO: activate this
    "src/dsp_tools/commands/project/models/helpers.py",       # TODO: activate this
    "src/dsp_tools/commands/project/models/listnode.py",      # TODO: activate this
    "src/dsp_tools/commands/project/models/ontology.py",      # TODO: activate this
    "src/dsp_tools/commands/project/models/project.py",       # TODO: activate this
    "src/dsp_tools/commands/project/models/propertyclass.py", # TODO: activate this
    "src/dsp_tools/commands/project/models/resourceclass.py", # TODO: activate this
    "src/dsp_tools/commands/project/models/user.py",          # TODO: activate this
]


[[tool.mypy.overrides]]
# For these packages, no type stubs are available yet:
module = ["jsonpath_ng.*", "viztracer.*", "pyld.*", "testcontainers.*"]
ignore_missing_imports = true


[tool.ruff]
line-length = 120
target-version = "py312"


[tool.ruff.lint]
select = [
    "RUF",      # ruff-specific rules
    "PL",       # pylint
    "I",        # isort
    "E",        # pycodestyle errors
    "F",        # pyflakes
    "A",        # flake8-builtins
    "BLE",      # flake8-blind-except
    "ARG",      # flake8-unused-arguments
    "S",        # flake8-bandit plugin which checks for security issues
    "YTT",      # flake8-2020 plugin, which checks for misuse of `sys.version` or `sys.version_info`
    "ASYNC",    # flake8-async plugin, which checks for bad async / asyncio practices
    "ISC",      # flake8-implicit-str-concat plugin, which checks for problematic string concatenation
    "INP",      # flake8-no-pep420 plugin, which checks for missing __init__.py files
    "PIE",      # flake8-pie plugin, which does miscellaneous checks
    "PT",       # flake8-pytest-style plugin
    "TID",      # flake8-tidy-imports plugin
    "ICN",      # flake8-import-conventions plugin, which checks for import conventions
    "ARG",      # flake8-unused-arguments
    "PGH",      # pygrep-hooks: A collection of fast, cheap, regex based pre-commit hooks
    "UP031",    # pyupgrade: printf-string-formatting
    "D101",     # pydocstyle: undocumented-public-class
    "D102",     # pydocstyle: undocumented-public-method
    "D103",     # pydocstyle: undocumented-public-function
    "D417",     # pydocstyle: undocumented-param
    "B023",     # flake8-bugbear: function-uses-loop-variable
    "FIX",      # flake8-fixme: checks for FIXME, TODO, XXX, etc.
]
ignore = [
    "ISC001",   # flake8-implicit-str-concat: single-line-implicit-string-concatenation  # incompatible with the formatter
    "S105",     # flake8-bandit: hardcoded password
    "S106",     # flake8-bandit: hardcoded password
    "S603",     # flake8-bandit: subprocess-without-shell-equals-true
    "S320",     # flake8-bandit: xml parsing vulnerable to XML attacks
]


[tool.ruff.lint.per-file-ignores]
"__init__.py" = [
    "F401",     # unused-import
    "F403",     # undefined-local-with-import-star
    "PLC0414",  # useless-import-alias
]
"testdata/**" = [
    "INP001",   # implicit-namespace-package    # there are some python files, but no __init__.py
]
"test/*" = [
    "D103",     # pydocstyle: undocumented-public-function
    "D102",     # pydocstyle: undocumented-public-method
    "D101",     # pydocstyle: undocumented-public-class
    "S101",     # flake8-bandit: use of assert
]


[tool.ruff.lint.pydocstyle]
convention = "google"


[tool.ruff.lint.isort]
force-single-line = true
