setuptools~=49.6.0
wheel
tqdm
twine
mkdocs==1.0.4
mkdocs-material
rdflib~=5.0.0
lxml~=4.5.2
validators~=0.18.1
requests~=2.24.0
jsonschema~=3.2.0
click
rfc3987~=1.3.8
pprint
pystrict~=1.1

knora~=1.3.0
wxPython~=4.1.0
