---

version: '3.7'

services:

  app:
    image: daschswiss/dsp-app:v10.19.1  # on the verge of every deployment (fortnightly),
                                        # take the tag of https://hub.docker.com/r/daschswiss/dsp-app/tags
                                        # that corresponds to the version on https://admin.staging.dasch.swiss/help
                                        # (see also https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json)
    ports:
      - "4200:4200"
    networks:
      - knora-net

  db:
    image: daschswiss/apache-jena-fuseki:2.0.11  # on the verge of every deployment (fortnightly),
                                                 # take the tag used in docker-compose.yml of the DSP-API repository
    ports:
      - "3030:3030"
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - ADMIN_PASSWORD=test
      - JVM_ARGS=-Xmx3G

  sipi:
    image: daschswiss/knora-sipi:28.2.0  # on the verge of every deployment (fortnightly), take the same tag as DSP-API
    ports:
      - "1024:1024"
    volumes:
      - .:/docker
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - SIPI_EXTERNAL_PROTOCOL=http
      - SIPI_EXTERNAL_HOSTNAME=0.0.0.0
      - SIPI_EXTERNAL_PORT=1024
      - SIPI_WEBAPI_HOSTNAME=api
      - SIPI_WEBAPI_PORT=3333
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333
    command: --config=/docker/sipi.docker-config.lua

  api:
    image: daschswiss/knora-api:28.2.0  # on the verge of every deployment (fortnightly),
                                        # take the tag of https://hub.docker.com/r/daschswiss/knora-api/tags
                                        # that corresponds to the version on https://admin.staging.dasch.swiss/help
                                        # (see also https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json)
    depends_on:
      - sipi
      - db
    ports:
      - "3333:3333"
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - KNORA_AKKA_LOGLEVEL=DEBUG
      - KNORA_AKKA_STDOUT_LOGLEVEL=DEBUG
      - KNORA_WEBAPI_TRIPLESTORE_HOST=db
      - KNORA_WEBAPI_TRIPLESTORE_DBTYPE=fuseki
      - KNORA_WEBAPI_SIPI_INTERNAL_HOST=sipi
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_REPOSITORY_NAME=knora-test
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_USERNAME=admin
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_PASSWORD=test
      - KNORA_WEBAPI_CACHE_SERVICE_ENABLED=true
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_HOST=redis
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_PORT=6379
      - KNORA_WEBAPI_ALLOW_RELOAD_OVER_HTTP=true
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333

networks:
  knora-net:
    name: knora-net
