---

version: "3.7"

services:

  app:
    # on the verge of every deployment (fortnightly), update the "image" value from the "app" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json
    image: daschswiss/dsp-app:v11.6.5
    ports:
      - "4200:4200"
    networks:
      - knora-net

  db:
    # on the verge of every deployment (fortnightly), update the "image" value from the "db" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json
    image: daschswiss/apache-jena-fuseki:2.1.5
    ports:
      - "3030:3030"
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - ADMIN_PASSWORD=test
      - JVM_ARGS=-Xmx3G

  sipi:
    # on the verge of every deployment (fortnightly), take the same tag as DSP-API
    image: daschswiss/knora-sipi:v30.8.2
    ports:
      - "1024:1024"
    volumes:
      - ./tmp:/tmp
      - .:/sipi/config
      - ./sipi/images:/sipi/images
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - SIPI_EXTERNAL_PROTOCOL=http
      - SIPI_EXTERNAL_HOSTNAME=0.0.0.0
      - SIPI_EXTERNAL_PORT=1024
      - SIPI_WEBAPI_HOSTNAME=api
      - SIPI_WEBAPI_PORT=3333
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333
    command: --config=/sipi/config/sipi.docker-config.lua

  api:
    # on the verge of every deployment (fortnightly), update the "image" value from the "api" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json
    image: daschswiss/knora-api:v30.8.2
    depends_on:
      - sipi
      - db
    ports:
      - "3333:3333"
    networks:
      - knora-net
    environment:
      - TZ=Europe/Zurich
      - KNORA_AKKA_LOGLEVEL=DEBUG
      - KNORA_AKKA_STDOUT_LOGLEVEL=DEBUG
      - KNORA_WEBAPI_TRIPLESTORE_HOST=db
      - KNORA_WEBAPI_TRIPLESTORE_DBTYPE=fuseki
      - KNORA_WEBAPI_SIPI_INTERNAL_HOST=sipi
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_REPOSITORY_NAME=knora-test
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_USERNAME=admin
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_PASSWORD=test
      - KNORA_WEBAPI_CACHE_SERVICE_ENABLED=true
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_HOST=redis
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_PORT=6379
      - KNORA_WEBAPI_ALLOW_RELOAD_OVER_HTTP=true
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333

  ingest:
    # on the verge of every deployment (fortnightly), update the "image" value from the "ingest" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json
    image: daschswiss/dsp-ingest:v0.6.2
    ports:
      - "3340:3340"
    volumes:
      - ./sipi/images:/opt/images
      - ./sipi/tmp-dsp-ingest:/opt/temp
    networks:
      - knora-net
    environment:
      - SERVICE_HOST=0.0.0.0
      - SERVICE_PORT=3340
      - SERVICE_LOG_FORMAT=text
      - STORAGE_ASSET_DIR=/opt/images
      - STORAGE_TEMP_DIR=/opt/temp
      - JWT_AUDIENCE=http://localhost:3340
      - JWT_ISSUER=0.0.0.0:3333
      - JWT_SECRET=UP 4888, nice 4-8-4 steam engine
      - SIPI_USE_LOCAL_DEV=false

networks:
  knora-net:
    name: knora-net
