---
services:
  api:
    # on the verge of every deployment (fortnightly), update the "image" value from the "api" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/versions/RELEASE.json
    image: daschswiss/knora-api:v31.12.0
    depends_on:
      - sipi
      - db
    ports:
      - "3333:3333"
    environment:
      - TZ=Europe/Zurich
      - KNORA_AKKA_LOGLEVEL=DEBUG
      - KNORA_AKKA_STDOUT_LOGLEVEL=DEBUG
      - KNORA_WEBAPI_DSP_INGEST_AUDIENCE=http://localhost:3340
      - KNORA_WEBAPI_DSP_INGEST_BASE_URL=http://ingest:3340
      - KNORA_WEBAPI_TRIPLESTORE_HOST=db
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_REPOSITORY_NAME=knora-test
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_USERNAME=admin
      - KNORA_WEBAPI_TRIPLESTORE_FUSEKI_PASSWORD=test
      - KNORA_WEBAPI_CACHE_SERVICE_ENABLED=true
      - KNORA_WEBAPI_ALLOW_RELOAD_OVER_HTTP=true
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333
      - ALLOW_ERASE_PROJECTS=true
      - DSP_API_LOG_LEVEL=INFO

  sipi:
    # on the verge of every deployment (fortnightly), take the same tag as DSP-API
    image: daschswiss/knora-sipi:v31.12.0
    ports:
      - "1024:1024"
    volumes:
      - ./tmp:/tmp
      - .:/sipi/config
      - ./sipi/images:/sipi/images
    environment:
      - TZ=Europe/Zurich
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_HOST=0.0.0.0
      - KNORA_WEBAPI_KNORA_API_EXTERNAL_PORT=3333
    command: --config=/sipi/config/sipi.docker-config.lua

  app:
    # on the verge of every deployment (fortnightly), update the "image" value from the "app" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/versions/RELEASE.json
    image: daschswiss/dsp-app:v11.29.0
    volumes:
      - ./dsp-app-config.json:/public/config/config.prod.json
    ports:
      - "4200:4200"

  db:
    # on the verge of every deployment (fortnightly), update the "image" value from the "db" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/roles/dsp-deploy/files/RELEASE.json
    image: daschswiss/apache-jena-fuseki:5.2.0
    ports:
      - "3030:3030"
    environment:
      - TZ=Europe/Zurich
      - ADMIN_PASSWORD=test
      - JVM_ARGS=-Xmx3G

  ingest:
    # on the verge of every deployment (fortnightly), update the "image" value from the "ingest" value of
    # https://github.com/dasch-swiss/ops-deploy/blob/main/versions/RELEASE.json
    image: daschswiss/dsp-ingest:v0.19.1
    ports:
      - "3340:3340"
    volumes:
      - ./sipi/images:/opt/images
      - ./sipi/tmp-dsp-ingest:/opt/temp
      - ingest-db:/opt/db
    environment:
      - SERVICE_LOG_FORMAT=text
      - STORAGE_ASSET_DIR=/opt/images
      - STORAGE_TEMP_DIR=/opt/temp
      - JWT_AUDIENCE=http://localhost:3340
      - JWT_ISSUER=0.0.0.0:3333
      - JWT_SECRET=UP 4888, nice 4-8-4 steam engine
      - SIPI_USE_LOCAL_DEV=false
      - DB_JDBC_URL=jdbc:sqlite:/opt/db/ingest.sqlite
      - ALLOW_ERASE_PROJECTS=true

volumes:
  ingest-db:
