---

name: Lint Code

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: Find dead code with vulture
        run: just vulture
