---

name: Publish to PyPI

on:
  push:
    branches:
      - main

env:
  TOKEN: ${{ secrets.GH_TOKEN }}
  POETRY_HTTP_BASIC_PYPI_USERNAME: ${{ secrets.PYPI_USER }}
  POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_PW }}

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install
      - name: publish new version to PyPI
        run: |
          rm -rf dist/ build/
          poetry version prerelease   # bump version, e.g. from 1.0.2 to 1.0.3a0, or 1.0.3a0 to 1.0.3a1
          poetry build                # generate distribution package
          poetry publish              # upload distribution package to PyPI

  notification:
    name: Google chat notification about release and published version
    needs: [publish-to-pypi]
    runs-on: ubuntu-latest
    steps:
      - name: Send notification to google chat room "DSP releases"
        uses: lakto/google-chat-action@main
        with:
          url: ${{ secrets.GOOGLE_CHAT_DSP_RELEASES_WEBHOOK_URL }}
