---

name: integrate with latest BE

on:
  schedule:
    - cron: "0 0 * * *"  # daily at midnight
  pull_request:

env:
  DSP_TOOLS_TESTING: true

jobs:
  latest-backend-components:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v4
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: start stack
        run: uv run dsp-tools start-stack --latest --no-prune --with-test-data
      - name: legacy e2e tests
        run: just legacy-e2e-tests
      - name: stop stack  # see if this command can run (it isn't tested anywhere else)
        run: uv run dsp-tools stop-stack
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: logging.log
          path: /home/runner/.dsp-tools/logging.log
          compression-level: 0
