---

name: integrate with latest BE

on:
  schedule:
    - cron: "0 0 * * *"  # daily at midnight
  pull_request:

env:
  DSP_TOOLS_TESTING: true

jobs:
  latest-backend-components:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: start stack with latest backend
        run: uv run dsp-tools start-stack --latest --no-prune
      - name: create project
        run: uv run dsp-tools create testdata/json-project/systematic-project-4123.json
      - name: get project
        run: uv run dsp-tools get -P systematic-tp _output.json
      - name: stop stack
        run: uv run dsp-tools stop-stack
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: latest-backend-components-logging.log
          path: logging.log
          compression-level: 0
