---

name: Tests e2e

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: read

env:
  DSP_TOOLS_TESTING: true
  DSP_USER_PASSWORD: ${{ secrets.DSP_USER_PASSWORD }}

jobs:
  ingest-xmlupload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: ingest-xmlupload
        run: just e2e-test-ingest-xmlupload
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-ingest-xmlupload-logging.log
          path: logging.log
          compression-level: 0

  validate-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: validate-data
        run: just e2e-test-validate-data
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-validate-data-logging.log
          path: logging.log
          compression-level: 0

  xmlupload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: xmlupload
        run: just e2e-test-xmlupload
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-xmlupload-logging.log
          path: logging.log
          compression-level: 0

  project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: project
        run: just e2e-test-project
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-project-logging.log
          path: logging.log
          compression-level: 0

  create-get-xmlupload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: create-get-xmlupload
        run: just e2e-test-create-get-xmlupload
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-create-get-xmlupload-logging.log
          path: logging.log
          compression-level: 0

  stop-stack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dsp-tools repo
        uses: actions/checkout@v5
      - name: Install uv, just, and dependencies
        uses: ./.github/actions/setup
      - name: start stack
        run: uv run dsp-tools start-stack --no-prune --with-test-data
      - name: stop stack
        run: uv run dsp-tools stop-stack
      - name: make logging file available
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-stop-stack-logging.log
          path: logging.log
          compression-level: 0
